{% extends "base.html" %}
{% block content %}
    <h1>User Sign Up</h1>
    <form method='POST'>
            <table>
                    <tr>
                        <td style="padding-right: 15px;"><label for="username">Username</label></td>
                        <td>
                            <input name="username" type="text" value="">
                            <span class="error"></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 15px;"><label for="password">Password</label></td>
                        <td>
                            <input name="password" type="password">
                            <span class="error"></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 15px;"><label for="verify">Verify Password</label></td>
                        <td>
                            <input name="verify" type="password">
                            <span class="error"></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 15px;"><label for="email">Email (optional)</label></td>
                        <td>
                            <input name="email" value="">
                            <span class="error"></span>
                        </td>
                    </tr>
                </table>
                <input type="submit">
            </form>
{% endblock %}

